#!/usr/bin/make -f

PACKAGE = leechcraft
DEVELOPER = 0xd34df00d
PROJECT = leechcraft

DEB_VER = $(shell dpkg-parsechangelog | sed -ne 's/^Version: \(\([0-9]\+\):\)\?\(.*\)-.*/\3/p')
CLN_VER = $(shell echo $(DEB_VER) | sed 's/\+dfsg//')

NEW_VER = $(shell uscan --dehs | sed -n 's/.*<upstream-version>\(.*\)<\/upstream-version>.*/\1/p')
CUR_VER = $(NEW_VER)\+dfsg

DEB_BUILDDIR = obj-$(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)
DEB_DOCDIR = $(CURDIR)/debian/tmp/usr/share/doc/leechcraft-doc

LDFLAGS+=-Wl,--as-needed

CMAKEOPTS = "$(CURDIR)/src" \
	-DCMAKE_BUILD_TYPE:STRING=RelWithDebInfo \
	-DLEECHCRAFT_VERSION="$(CLN_VER)" \
	-DCMAKE_INSTALL_PREFIX=/usr \
	-DDISABLE_RPATH_TRICKS=True \
	-DSTRICT_LICENSING=True \
	-DLOCAL_MINIUPNP=True \
	-DTEST=False \
	-DENABLE_ADVANCEDNOTIFICATIONS=True \
	-DENABLE_AZOTH=True \
	-DENABLE_QTMULTIMEDIA_KLUDGE=True \
	-DENABLE_MEDIACALLS=False \
	-DENABLE_AZOTH_ASTRALITY=True \
	-DENABLE_AZOTH_OTROID=True \
	-DENABLE_AZOTH_VADER=True \
	-DENABLE_AZOTH_ZHEET=True \
	-DENABLE_BITTORRENT_GEOIP=True \
	-DENABLE_DOLOZHEE=True \
	-DENABLE_GACTS=True \
	-DENABLE_GLANCE=True \
	-DENABLE_GMAILNOTIFIER=True \
	-DENABLE_HOTSTREAMS=True \
	-DENABLE_KBSWITCH=True \
	-DENABLE_KNOWHOW=True \
	-DENABLE_LACKMAN=True \
	-DENABLE_LADS=True \
	-DENABLE_LASTFMSCROBBLE=True \
	-DENABLE_LHTR=True \
	-DENABLE_LIZNOO=True \
	-DENABLE_LMP=True \
	-DENABLE_LMP_MPRIS=True \
	-DENABLE_MONOCLE=True \
	-DENABLE_NACHEKU=True \
	-DENABLE_NETSTOREMANAGER=True \
	-DENABLE_OTLOZHU=True \
	-DENABLE_PINTAB=True \
	-DENABLE_POPISHU=True \
	-DENABLE_SECMAN=True \
	-DENABLE_SHELLOPEN=True \
	-DENABLE_SB2=True \
	-DENABLE_TABSESSMANAGER=True \
	-DENABLE_TABSLIST=True \
	-DENABLE_TPI=True \
	-DENABLE_VROOBY=True \
	-DENABLE_XPROXY=True \
	-DENABLE_QROSP=False \
	-DENABLE_SYNCER=False \
	-DENABLE_BLACKDASH=False \
	-DENABLE_CHOROID=False \
	-DENABLE_LAUNCHY=False \
	-DENABLE_SNAILS=False \
	-DENABLE_FTP=False \
	-DENABLE_SIDEBAR=False \
	-DENABLE_TABPP=False \
	-DENABLE_TOUCHSTREAMS=False


%:
	dh $@ --parallel --buildsystem=cmake

override_dh_auto_configure:
	mkdir -p $(DEB_BUILDDIR)
	cd $(DEB_BUILDDIR) && cmake $(CMAKEOPTS)
	cd $(CURDIR)/doc/doxygen/core/  && cp Doxyfile Doxyfile.orig
	cd $(CURDIR)/doc/doxygen/azoth/ && cp Doxyfile Doxyfile.orig
	sed -i $(CURDIR)/doc/doxygen/*/Doxyfile \
		-e "s/PROJECT_NUMBER         = .*/PROJECT_NUMBER         = $(CLN_VER)/"

override_dh_auto_build:
	dh_auto_build --buildsystem=cmake
	cd $(CURDIR)/doc/doxygen/core/ && doxygen Doxyfile
	cd $(CURDIR)/doc/doxygen/azoth/ && doxygen Doxyfile

override_dh_auto_clean:
	dh_testroot
	rm -f src/data/leechcraft.1.gz
	rm -fr $(CURDIR)/doc/doxygen/*/out
	[ ! -f $(CURDIR)/doc/doxygen/core/Doxyfile.orig ] || \
		( cd $(CURDIR)/doc/doxygen/core/  && mv -f Doxyfile.orig Doxyfile )
	[ ! -f $(CURDIR)/doc/doxygen/azoth/Doxyfile.orig ] || \
		( cd $(CURDIR)/doc/doxygen/azoth/ && mv -f Doxyfile.orig Doxyfile )
	dh_auto_clean

override_dh_auto_install:
	dh_auto_install
	mkdir -p $(DEB_DOCDIR)/html/core
	mkdir -p $(DEB_DOCDIR)/html/azoth
	cp -r $(CURDIR)/doc/doxygen/core/out/html/* $(DEB_DOCDIR)/html/core/
	cp -r $(CURDIR)/doc/doxygen/azoth/out/html/* $(DEB_DOCDIR)/html/azoth/

override_dh_installchangelogs:
	dh_installchangelogs CHANGELOG

.PHONY: override_dh_strip
override_dh_strip:
	dh_strip --dbg-package=leechcraft-dbg

.PHONY: override_dh_makeshlibs
override_dh_makeshlibs:
	dh_makeshlibs -V -plibleechcraft-xmlsettingsdialog0.3.0 \
					 -plibleechcraft-util0.5.0

.PHONY: override_dh_shlibdeps
override_dh_shlibdeps:
	dh_shlibdeps -a -ldebian/libleechcraft-xmlsettingsdialog0.3.0/usr/lib \
					-ldebian/libleechcraft-util0.5.0/usr/lib

override_dh_builddeb:
	dh_builddeb -- -Zbzip2

get-orig-source:
	# preparation
	rm -rf  "$(CUR_VER)" "$(PACKAGE)-$(CUR_VER)"
	# main sources
	wget -4 "http://nodeload.github.com/$(DEVELOPER)/$(PROJECT)/tarball/$(NEW_VER)"
	rm -rf $(DEVELOPER)-$(PROJECT)-*
	tar xzf "$(NEW_VER)"
	mv $(DEVELOPER)-$(PROJECT)-* "$(PACKAGE)-$(CUR_VER)"
	# processing
	rm -rf "$(PACKAGE)-$(CUR_VER)"/src/plugins/lcftp/
	rm -rf "$(PACKAGE)-$(CUR_VER)"/src/plugins/cstp/resources/images/clients/*
	rm -rf "$(PACKAGE)-$(CUR_VER)"/src/plugins/advancednotifications/share/sounds/*
	mv "$(PACKAGE)-$(CUR_VER)"/src/plugins/azoth/share/azoth/iconsets/clients/default/unknown.png \
	   "$(PACKAGE)-$(CUR_VER)"/src/plugins/azoth/share/azoth/iconsets/clients/unknown.png
	rm -f "$(PACKAGE)-$(CUR_VER)"/src/plugins/azoth/share/azoth/iconsets/clients/default/*
	mv "$(PACKAGE)-$(CUR_VER)"/src/plugins/azoth/share/azoth/iconsets/clients/unknown.png \
	   "$(PACKAGE)-$(CUR_VER)"/src/plugins/azoth/share/azoth/iconsets/clients/default/unknown.png
	# tarball
	tar -cJf "$(PACKAGE)_$(CUR_VER).orig.tar.xz" "$(PACKAGE)-$(CUR_VER)"
	# cleaning
	rm -rf "$(PACKAGE)-$(CUR_VER)" "$(CUR_VER)" "master"

